body {
	background-color: #151515;
}

#around {
	background-color: #EAB035;
	width: 1200px;
	left: 50%;
	margin: auto;
}

#header {
	background-color: #3A2820;
	color: white;
	text-align: center;
	padding: 5px;
}

#nav {
	background-color: #D45023;
	line-height: 30px;
	height: 300px;
	width: 200px;
	float: left;
	padding: 5px;
}

#main {
	background-color: #EAB035;
	width: 900px;
	float: left;
	padding: 10px;
}

#footer {
	background-color: #3A2820;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}

input{
	text-align: right;
}
